<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manan Agarwal</title>
    
    <link rel="shortcut icon" href="https://assets-global.website-files.com/60f5a97b9e66c2b92c76a14e/63ebe827e2c217f3badc705c_favicon.png" type = "image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="flex row">
        <a href="/" id="nav-name">
                <div>Manan</div>
                <div>Agarwal</div>
        </a>
        <div id="drop-down" class="flex">
            <img src="{{ url_for('static', filename='assets/nav_bar_horizontal_lines.png') }}" alt="" width = "25">
        </div>
        <div id="nav-list" class="flex row">
            <a href="/" id="projects_">Projects.</a>
            <a href="/about" id="about_">About.</a>
            <a href="/resume"  id="resume_" >Resume.</a>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    <hr>

    <footer class="flex row">
        <div>
            <div class="footer_heading">MANAN AGARWAL</div>
            <div class="footer_content">mananagarwal1784@gmail.com</div>
        </div>
        <div>
            <div class="footer_heading">SOCIAL</div>
            <div class="footer_content flex row" style="gap: 15px;">
                <a href="https://github.com/MananAg-1784" target="_blank">GitHub</a>
                <div>|</div>
                <a href="https://www.linkedin.com/in/manan-agarwal-219920251/" target="_blank">LinkedIn</a>
                <div>|</div>
                <a href="https://dribbble.com/_Manan_" target = "_blank">Dribble</a>
            </div>

        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"
integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


<script>
    var route = "{{url}}";
    document.getElementById(`${route}_`).classList.add('active');
</script>
</body>

</html>